@model ErrorViewModel
@{
    ViewData["Title"] = "Feil";
}

<h1 class="text-danger">Feil.</h1>
<h2 class="text-danger">En feil oppsto under behandlingen av forespørselen din.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Forespørsel-ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Ved å bytte til <strong>Development</strong> miljø vil mer detaljert informasjon om feilen bli vist.
</p>
<p>
    <strong>Utviklingsmiljøet bør ikke være aktivert for apper som er i produksjon.</strong>
    Det kan føre til at sensitiv informasjon fra unntak blir vist til sluttbrukere.
    For lokal debugging, aktiver <strong>Utvikling</strong>-miljøet ved å sette miljøvariabelen <strong>ASPNETCORE_ENVIRONMENT</strong> til <strong>Utvikling</strong>
    og starte appen på nytt.
</p>
