@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Ingen tilgang";
}

<div class="container mt-5">
    <h1 class="text-danger text-center">Ingen tilgang</h1>
    <p class="text-center">Du har ikke tillatelse til å få tilgang til denne siden.</p>
    <div class="text-center mt-4">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Gå til hjem</a>
    </div>
</div>
