@model RegisterViewModel

<form asp-action="Register" method="post">
    <input asp-for="Username" placeholder="Brukernavn" />
    <input asp-for="Email" placeholder="E-postadresse" />
    <input asp-for="Password" type="password" placeholder="Passord" />
    <input asp-for="ConfirmPassword" type="password" placeholder="Bekreft passord" />
    <button type="submit">Registrer deg</button>
</form>
